html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    z-index: 10;
}

.navbar a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.home {
    height: 100vh;
    position: relative;
    padding-top: 70px; 
    display: flex;
    justify-content: center; 
    align-items: center;    
}

.home-bg {
    width: 1200px;
    height: auto;
    position: absolute;
    z-index: 2; 
}

.sentence {
    font-size: 100px;
    display: flex;
    flex-wrap: wrap;
    bottom: 170px;
    font-family: monospace;
    font-weight: bold;
    justify-content: center;
    position: relative;
    z-index: 1; 
    color: #000000;
}

.bold {
    font-weight: bold;
    color: black;
}

.second-page {
    height: 100vh;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding-top: 100px;
    padding-left: 40px;
    font-size: 60px;
    display: flex;
    gap: 40px;
    margin-right: 340px;
}

.third-page {
    background-color: rgb(255, 255, 255);
    height: 100vh;
}

.fourth-page {
    background-color: rgb(0, 0, 0);
    height: 100vh;
}

.fifth-page {
    background-color: rgb(255, 255, 255);
    height: 100vh;
}

.sixth-page {
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.line {
    width: 1400px;
    margin: auto;
}

.footer-credit {
    text-align: left;
    font-family: monospace;
    font-size: 15px;
    position: relative;
    bottom: 450px;
    padding-bottom: 40px;
    padding-left: 40px;
    background-color: rgb(0, 0, 0);
    padding: 50px;
    display: flex;
    flex-direction: row;
    gap: 600px;
    color: white;
}

.form-box {
    width: 80%;
    padding: 25px 20px;
    margin: 40px auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    padding-left: 600px;
}

.form-box h2 {
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
}

form input,
form select {
    width: 100%;
    padding: 12px 10px;
    margin-bottom: 12px;
    box-sizing: border-box;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

form button {
    width: 30%;
    padding: 12px 0;
    background: #000000;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}

form button:hover {
    opacity: 0.8;
} 

.form-box h2:hover {
    color: #e2a317;
}

form textarea {
    width: 100%;
    height: 100px;
}

textarea::placeholder {
    font-size: 16px;
    padding-left: 10px;
    padding-top: 5px;
}

.contact-me {
    font-family: monospace;
    font-size: 50px;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.contact-info {
    padding-left: 200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.img-footer {
    width: 600px;
    position: relative;
    left: 150px;
    bottom: 650px;
}

.img2-footer{
    width: 600px;
    position: relative;
    bottom: 630px;
    left: 700px;
}

